---

---

<style>
  #wrapper__container {
    margin: 0 auto;
    max-width: 960px;
  }
  img {
    max-height: 15vh;
    width: 100%;
    display: block;
    padding-block: 1rem;
  }
</style>  

<div id="wrapper__container">
  <a href="/"><img src="/assets/balaton.svg" alt=""/></a>
  <slot/>
</div>